In [1]:
import os

import pandas as pd

from helpers.cell_type_naming import weird_to_nice

In [2]:
import logging

# work-around: prevent jupyter from adding an extra handler for everything
logging.getLogger('root').addHandler(logging.NullHandler())

# configure a handler
format_str = '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
handler = logging.StreamHandler()
handler.setFormatter(logging.Formatter(format_str))

# make a logger for this notebook
logger = logging.getLogger(__name__)
logger.setLevel("DEBUG")
logger.addHandler(handler)

In [3]:
!ls -l /mnt/buckets/liulab/csx_experiments/cell_type_grouping/normal

total 24522
-rw-r--r-- 1 jupyter jupyter     4412 Aug 27 00:50 CIBERSORTx_Adjusted.txt
-rw-r--r-- 1 jupyter jupyter  1011450 Aug 27 00:49 CIBERSORTx_Mixtures_Adjusted.txt
-rw-r--r-- 1 jupyter jupyter  4010602 Aug 27 00:48 CIBERSORTx_cell_type_sourceGEP.txt
-rw-r--r-- 1 jupyter jupyter   176002 Aug 27 00:49 CIBERSORTx_screfsampletirosh_inferred_phenoclasses.CIBERSORTx_screfsampletirosh_inferred_refsample.bm.K999.pdf
-rw-r--r-- 1 jupyter jupyter   522710 Aug 27 00:48 CIBERSORTx_screfsampletirosh_inferred_phenoclasses.CIBERSORTx_screfsampletirosh_inferred_refsample.bm.K999.txt
-rw-r--r-- 1 jupyter jupyter      725 Aug 27 00:48 CIBERSORTx_screfsampletirosh_inferred_phenoclasses.txt
-rw-r--r-- 1 jupyter jupyter 19382578 Aug 27 00:48 CIBERSORTx_screfsampletirosh_inferred_refsample.txt
drwxr-xr-x 1 jupyter jupyter        0 Aug 30 18:20 in

In [4]:
!find /mnt/buckets/liulab/csx_experiments/cell_type_grouping/ -name "CIBERSORTx_Adjusted*"

/mnt/buckets/liulab/csx_experiments/cell_type_grouping/combine_lymphocytes/CIBERSORTx_Adjusted.txt
/mnt/buckets/liulab/csx_experiments/cell_type_grouping/combine_t_cells/CIBERSORTx_Adjusted.txt
/mnt/buckets/liulab/csx_experiments/cell_type_grouping/normal/CIBERSORTx_Adjusted.txt

In [5]:
root = "gs://liulab/csx_experiments/cell_type_grouping"

In [6]:
def read_sigmat(experiment):
    filename = "*bm.K999.txt"
#     filename = "CIBERSORTx_Adjusted.txt"
    path = os.path.join(root, experiment, filename)
    logger.debug(f"reading {path}")
    df = pd.read_csv(
        path,
        sep="\t",
        index_col=0
    )
    df.index = df.index.astype(str)
#     df = df[df.columns[:-3]]  # last 3 are stats
    df = df.rename(columns=weird_to_nice)
    return df

In [7]:
read_sigmat("normal")

2021-08-30 18:30:05,434 - __main__ - DEBUG - reading gs://liulab/csx_experiments/cell_type_grouping/normal/*bm.K999.txt

,Malignant,Endothelial,CAF,T CD8,NK,Macrophage,T CD4,B
NAME,,,,,,,,
A2M,281.650610,293.077009,1.000000,1.000000,1.000000,874.318085,1.000000,1.000000
A4GALT,1.000000,56.578233,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
AARSD1,47.530952,1.000000,29.752152,1.000000,1.000000,1.000000,1.000000,1.000000
ABCA1,1.000000,83.750607,1.000000,1.000000,1.000000,125.979638,1.000000,1.000000
ABCB5,117.846844,1.000000,1.000000,21.130258,1.000000,1.000000,1.000000,1.000000
...,...,...,...,...,...,...,...,...
ZRSR2,1.000000,1.000000,1.000000,34.301794,69.883443,1.000000,1.000000,1.000000
ZSCAN12,1.000000,1.000000,1.000000,25.889644,1.000000,1.000000,1.000000,19.428974
ZSCAN16,1.000000,1.000000,1.000000,1.000000,212.109844,1.000000,1.000000,1.000000
ZWINT,1.000000,1.000000,62.792428,1.000000,1.000000,1.000000,1.000000,1.000000
ZXDC,1.000000,1.000000,1.000000,21.815527,1.000000,1.000000,20.622229,1.000000

In [8]:
read_sigmat("combine_t_cells")

2021-08-30 18:30:05,643 - __main__ - DEBUG - reading gs://liulab/csx_experiments/cell_type_grouping/combine_t_cells/*bm.K999.txt

,Malignant,Endothelial,CAF,T,NK,Macrophage,B
NAME,,,,,,,
A2M,281.650610,293.077009,1.000000,1.000000,1.000000,826.882858,1.000000
A4GALT,1.000000,56.578233,1.000000,1.000000,1.000000,1.000000,1.000000
AARSD1,47.530952,1.000000,29.752152,1.000000,1.000000,1.000000,1.000000
ABCA1,1.000000,83.750607,1.000000,1.000000,1.000000,133.789805,1.000000
ABCB5,117.846844,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
...,...,...,...,...,...,...,...
ZNF780A,1.000000,1.000000,1.000000,26.650115,1.000000,1.000000,20.537509
ZNF91,1.000000,54.875667,1.000000,1.000000,14.122324,1.000000,52.493110
ZSCAN12,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,19.428974
ZWINT,1.000000,1.000000,62.792428,1.000000,1.000000,1.000000,1.000000
ZXDC,1.000000,1.000000,1.000000,22.301433,1.000000,1.000000,1.000000

In [9]:
read_sigmat("combine_lymphocytes")

2021-08-30 18:30:05,764 - __main__ - DEBUG - reading gs://liulab/csx_experiments/cell_type_grouping/combine_lymphocytes/*bm.K999.txt

         Malignant  Endothelial         CAF  Lymphocytes  Macrophage
NAME
A2M     281.650610   293.077009    1.000000          1.0  793.043044
A4GALT    1.000000    56.578233    1.000000          1.0    1.000000
ABCA1     1.000000    83.750607    1.000000          1.0  134.623737
ABCB5   117.846844     1.000000    1.000000          1.0    1.000000
ABI3BP    1.000000    38.887476  174.928308          1.0    1.000000
...            ...          ...         ...          ...         ...
ZNF639    1.000000    69.098935    1.000000          1.0    1.000000
ZNF689   26.940267     1.000000    1.000000          1.0    1.000000
ZNF692   44.875083     1.000000    1.000000          1.0    1.000000
ZNF91     1.000000    54.875667    1.000000          1.0    1.000000
ZWINT     1.000000     1.000000   62.792428          1.0    1.000000

[1610 rows x 5 columns]