# Load data used by CIBERSORTx

* found the source data for the paper
* got genomic, sc, and bulk data
* gave up trying to use it

In [1]:
import GEOparse
import pandas as pd

In [2]:
import logging

logging.getLogger("GEOparse").setLevel("INFO")

In [3]:
%%bash

mount | grep liu

liulab on /home/jupyter/mnt/liulab type fuse (rw,nosuid,nodev,relatime,user_id=1001,group_id=1002,default_permissions)
dbxfs on /home/jupyter/mnt/dropbox-liulab type fuse (rw,nosuid,nodev,relatime,user_id=1001,group_id=1002,default_permissions)

In [ ]:
%%bash

gcsfuse --implicit-dirs liulab ~/mnt/liulab
dbxfs ~/mnt/dropbox-liulab/

In [4]:
gse_127472 = GEOparse.get_GEO(geo="GSE127472", destdir="/home/jupyter/mnt/liulab/geoparse/")

12-Jul-2021 16:11:37 INFO GEOparse - File already exist: using local version.
12-Jul-2021 16:11:37 INFO GEOparse - Parsing /home/jupyter/mnt/liulab/geoparse/GSE127472_family.soft.gz:
/opt/conda/lib/python3.7/site-packages/GEOparse/GEOparse.py:113: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  return parse_GSE(filepath, open_kwargs=open_kwargs)

In [5]:
gse_127472.metadata["supplementary_file"]

['ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE127nnn/GSE127472/suppl/GSE127472_RAW.tar']

```
import plotly.express as px
import plotly.graph_objects as go
import plotly.io

plotly.io.renderers.default = "jupyterlab+png"
```

In [6]:
!gsutil ls -la gs://liulab/ftp/ | head

1519912960  2021-07-11T17:03:42Z  gs://liulab/ftp/GSE127472_RAW.tar#1626023022585454  metageneration=1
                                 gs://liulab/ftp/GSE115978/
                                 gs://liulab/ftp/GSE127472_RAW/
TOTAL: 1 objects, 1519912960 bytes (1.42 GiB)

In [7]:
!gsutil ls -la gs://liulab/ftp/GSE127472_RAW/ | head

         0  2021-07-12T13:12:52Z  gs://liulab/ftp/GSE127472_RAW/#1626095572794019  metageneration=1
  13566382  2021-07-12T15:51:56Z  gs://liulab/ftp/GSE127472_RAW/GSM3634931_FL_1004.CEL#1626105116495659  metageneration=1
  13552097  2021-07-12T15:51:57Z  gs://liulab/ftp/GSE127472_RAW/GSM3634932_FL_1005.CEL#1626105117609613  metageneration=1
  13550578  2021-07-12T15:51:58Z  gs://liulab/ftp/GSE127472_RAW/GSM3634934_FL_1008.CEL#1626105118747482  metageneration=1
  13566050  2021-07-12T15:51:59Z  gs://liulab/ftp/GSE127472_RAW/GSM3634935_FL_1009.CEL#1626105119855053  metageneration=1
  13550860  2021-07-12T15:52:01Z  gs://liulab/ftp/GSE127472_RAW/GSM3634936_FL_1010.CEL#1626105121144227  metageneration=1
  13566238  2021-07-12T15:52:02Z  gs://liulab/ftp/GSE127472_RAW/GSM3634937_FL_1012.CEL#1626105122279117  metageneration=1
  13566246  2021-07-12T15:52:03Z  gs://liulab/ftp/GSE127472_RAW/GSM3634938_FL_1014.CEL#1626105123301915  metageneration=1
  13566082  2021-07-12T15:52:04Z  gs://liulab/ftp/GSE127472_RAW/GSM3634939_FL_1016.CEL#1626105124335666  metageneration=1
  13551457  2021-07-12T15:52:05Z  gs://liulab/ftp/GSE127472_RAW/GSM3634940_FL_1017.CEL#1626105125366949  metageneration=1
Exception ignored in: <_io.TextIOWrapper name='<stdout>' mode='w' encoding='UTF-8'>
BrokenPipeError: [Errno 32] Broken pipe

In [ ]:
%%bash

curl \
    ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE127nnn/GSE127472/suppl/GSE127472_RAW.tar \
    -o /home/jupyter/mnt/liulab/ftp/GSE127472_RAW.tar

In [13]:
pd.read_csv(
    'gs://liulab/ftp/GSE127472_RAW/GSM3635372_barcodes.tsv',
    sep='\t',
    header=None,
)

                       0
0     AAACCTGAGAGTACCG-1
1     AAACCTGAGCGATGAC-1
2     AAACCTGAGCGCTTAT-1
3     AAACGGGAGATATACG-1
4     AAACGGGCACAAGCCC-1
...                  ...
2411  TTTGTCAAGACAATAC-1
2412  TTTGTCACAATGGAAT-1
2413  TTTGTCACATCCGGGT-1
2414  TTTGTCACATGTCTCC-1
2415  TTTGTCATCGTACCGG-1

[2416 rows x 1 columns]

In [15]:
pd.read_csv(
    'gs://liulab/ftp/GSE127472_RAW/GSM3635372_genes.tsv',
    sep='\t',
    header=None,
)

                     0             1
0      ENSG00000243485    MIR1302-10
1      ENSG00000237613       FAM138A
2      ENSG00000186092         OR4F5
3      ENSG00000238009  RP11-34P13.7
4      ENSG00000239945  RP11-34P13.8
...                ...           ...
32733  ENSG00000215635    AC145205.1
32734  ENSG00000268590         BAGE5
32735  ENSG00000251180    CU459201.1
32736  ENSG00000215616    AC002321.2
32737  ENSG00000215611    AC002321.1

[32738 rows x 2 columns]

# check series, not supplementary files

In [31]:
len(gse_127472.gsms)

315

In [38]:
for name, gsm in gse_127472.gsms.items():
    break

gsm.table.sample(10)

             ID_REF        VALUE
26478   217191_x_at   166.769903
1488   1554327_a_at     7.189374
7366     1563821_at     3.650403
36768     227514_at   573.994751
8574     1567054_at     6.493870
35872     226617_at  2059.747491
47050     237801_at     3.393274
9997    200056_s_at  2774.094826
51349     242100_at    54.124017
6572   1562403_a_at     9.911717

In [39]:
gsm.metadata['platform_id']

['GPL570']