In [1]:
import pandas as pd

In [2]:
pd.read_excel("/mnt/buckets/liulab/pan-io_datasets/2019Oct_RNASeq_Census.xlsx", nrows=3)

,participant,sample_id,fast_q1_file,fastq_name,star_transcriptome_bams,gene,cohort,disease,host_workspace,RNAseq_sample_context,2019_RNAseq_included,paired_WES_incl_2019,WES_pair_id,alt_participant,Unnamed: 14
0,BLADDER-15330_CCPM_0700627,BLADDER-15330_CCPM_0700627-Tumor-SM-AVI19,BLADDER-15330_CCPM_0700627-Tumor-SM-AVI19_1.fa...,BLADDER-15330_CCPM_0700627-Tumor-SM-AVI19_1,gs://fc-dcb81cf3-cdf5-44ff-8ac0-88bf82428d5c/d...,gs://fc-dcb81cf3-cdf5-44ff-8ac0-88bf82428d5c/2...,CCPM bladder,bladder,CM_WES_IO_Meta_BITSCopy,pre,Y,excluded,BLADDER-15330_CCPM_0700627-TM-NB-SM-AVI19-SM-A...,BLADDER-15330_CCPM_0700627,NaN
1,BLADDER-15330_CCPM_0700629,BLADDER-15330_CCPM_0700629-Tumor-SM-AVI1C,BLADDER-15330_CCPM_0700629-Tumor-SM-AVI1C_1.fa...,BLADDER-15330_CCPM_0700629-Tumor-SM-AVI1C_1,gs://fc-dcb81cf3-cdf5-44ff-8ac0-88bf82428d5c/d...,gs://fc-dcb81cf3-cdf5-44ff-8ac0-88bf82428d5c/2...,CCPM bladder,bladder,CM_WES_IO_Meta_BITSCopy,pre,high_multi_mapping,Y,BLADDER-15330_CCPM_0700629-TM-NB-SM-AVI1C-SM-A...,BLADDER-15330_CCPM_0700629,NaN
2,BLADDER-15330_CCPM_0700691,BLADDER-15330_CCPM_0700691-Tumor-SM-AVI13,BLADDER-15330_CCPM_0700691-Tumor-SM-AVI13_1.fa...,BLADDER-15330_CCPM_0700691-Tumor-SM-AVI13_1,gs://fc-dcb81cf3-cdf5-44ff-8ac0-88bf82428d5c/d...,gs://fc-dcb81cf3-cdf5-44ff-8ac0-88bf82428d5c/2...,CCPM bladder,bladder,CM_WES_IO_Meta_BITSCopy,pre,Y,Y,BLADDER-15330_CCPM_0700691-TM-NB-SM-AVI13-SM-A...,BLADDER-15330_CCPM_0700691,NaN

In [3]:
pd.read_excel(
    "/mnt/buckets/liulab/pan-io_datasets/2020all_IO_pairs_census.xlsx", nrows=3
)

,pair_id,alt_pair_id,participant,case_sample,control_sample,cohort,disease,therapy,bait_set,treatment_context,...,mutect1_basescovered,normal_mean_target_coverage,oxoG_OBF_number_mutations_passed,oxoG_OBF_number_mutations_rejected,oxoG_OBF_q_val,TiN,TiN_CI,tumor_mean_target_coverage,absolute_sln,abs_analyst_id
0,AC-DFCI_AC_PD1-1-TP-NT-SM-9LRI9-SM-9LRIA,NaN,AC-DFCI_AC_PD1-1,AC-DFCI_AC_PD1-1-Tumor-SM-9LRI9,AC-DFCI_AC_PD1-1-Normal-SM-9LRIA,DFCI_misc,anal,NaN,ice,pretreatment,...,40243628.0,232.891179,463.0,0.0,39.93,0.00,0 - 0,326.944059,NaN,NaN
1,AC-DFCI_AC_PD1-2-TP-NT-SM-9J4AO-SM-A4KOT,NaN,AC-DFCI_AC_PD1-2,AC-DFCI_AC_PD1-2-Tumor-SM-9J4AO,AC-DFCI_AC_PD1-2-Normal-SM-A4KOT,DFCI_misc,anal,NaN,ice,pretreatment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BL3403_T_N,NaN,BL3403,BL3403_T,BL3403_N,Rizvi,lung,NaN,agilent,pretreatment,...,34146452.0,121.477318,330.0,0.0,51.83,0.03,0.02 - 0.05,140.386932,NaN,NaN

In [4]:
pd.read_csv(
    "/mnt/buckets/liulab/pan-io_datasets/Clin_metadata_all (1).txt", sep="\t", nrows=3
)

,patient_id,cohort,disease,bait_set,treatment_context,2018_nat_gen_published,2018_meta_dataset,age,sex,histology,...,case_sample_pretreatment,pair_id_ontreatment,case_sample_ontreatment,pair_id_posttreatment,case_sample_posttreatment,pair_id_ontreatment_2,case_sample_ontreatmen_2t,Best_TIMI_reduction,ECOG_PS,notes
0,AC-DFCI_AC_PD1-1,DFCI misc.,anal,ice,pretreatment,Y,Y,NaN,MALE,NaN,...,AC-DFCI_AC_PD1-1-Tumor-SM-9LRI9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AC-DFCI_AC_PD1-2,DFCI misc.,anal,ice,pretreatment,N,no_permission,NaN,NaN,NaN,...,AC-DFCI_AC_PD1-2-Tumor-SM-9J4AO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AU5884,Rizvi,lung,agilent,pretreatment,Y,low_power,64.0,MALE,adenocarcinoma,...,AU5884_T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
pd.read_csv(
    "/mnt/buckets/liulab/pan-io_datasets/meta_seg_interpret.txt", sep="\t", nrows=3
)

,pair_id,chrom,start,end,ploidy,lesser_cn,greater_cn,total_cn,FACETS_seg,FACETS_nummark,...,focality_a1,focality_a2,called_CNA1,called_CNA2,called_CNA_total,segment_CN_interpretation,fraction_below,fraction_above,total_focality,genes_per_segment
0,AC-DFCI_AC_PD1-1-TP-NT-SM-9LRI9-SM-9LRIA,1,13100,23337700,2.77,1,1,2,1,5313,...,0.979583,0.979583,NaN,NaN,NaN,NaN,0.030976,0.047364,0.969024,721
1,AC-DFCI_AC_PD1-1-TP-NT-SM-9LRI9-SM-9LRIA,1,23340400,235973800,2.77,1,1,2,2,28039,...,0.979583,0.979583,NaN,NaN,NaN,NaN,0.030976,0.047364,0.969024,4350
2,AC-DFCI_AC_PD1-1-TP-NT-SM-9LRI9-SM-9LRIA,1,235976124,249231200,2.77,1,1,2,3,1560,...,0.979583,0.979583,NaN,NaN,NaN,NaN,0.030976,0.047364,0.969024,288

In [6]:
pd.read_csv(
    "/mnt/buckets/liulab/pan-io_datasets/panIO_master_maf_2020_plus_blat_filtered_muts.txt",
    sep="\t",
    nrows=3,
)

,pair_id,cohort.x,cohort.y,Hugo_Symbol,Chromosome,Start_position,End_position,Tumor_Sample_Barcode,Matched_Norm_Sample_Barcode,participant,...,realign_judgment,oncogenetype,func_pred,Var_Class_group,AminoAcid_Change,locus,Mut_in_COSMIC,hotspot,cosmic_hotspot,overall_mut_impact
0,AC-DFCI_AC_PD1-1-TP-NT-SM-9LRI9-SM-9LRIA,DFCI_misc,DFCI_misc,AADACL2,3,151458542,151458542,AC-DFCI_AC_PD1-1-Tumor-SM-9LRI9,AC-DFCI_AC_PD1-1-Normal-SM-9LRIA,AC-DFCI_AC_PD1-1,...,NaN,Absent_from_cosmic,deleterious,missense,D83N,AADACL2:D83N,0,0,0,deleterious
1,AC-DFCI_AC_PD1-1-TP-NT-SM-9LRI9-SM-9LRIA,DFCI_misc,DFCI_misc,AAK1,2,69741780,69741780,AC-DFCI_AC_PD1-1-Tumor-SM-9LRI9,AC-DFCI_AC_PD1-1-Normal-SM-9LRIA,AC-DFCI_AC_PD1-1,...,NaN,Absent_from_cosmic,neutral,missense,Q533H,AAK1:Q533H,0,0,0,presumed_neutral
2,AC-DFCI_AC_PD1-1-TP-NT-SM-9LRI9-SM-9LRIA,DFCI_misc,DFCI_misc,ABAT,16,8844285,8844285,AC-DFCI_AC_PD1-1-Tumor-SM-9LRI9,AC-DFCI_AC_PD1-1-Normal-SM-9LRIA,AC-DFCI_AC_PD1-1,...,NaN,Absent_from_cosmic,neutral,missense,E69K,ABAT:E69K,0,0,0,presumed_neutral

In [7]:
pd.read_csv(
    "/mnt/buckets/liulab/pan-io_datasets/TPM_matrix_rows.txt", sep="\t", nrows=3
)

,X5S_rRNA,X7SK,A1BG,A1BG.AS1,A1CF,A2M,A2M.AS1,A2ML1,A2ML1.AS1,A2ML1.AS2,...,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11AP1,ZYG11B,ZYX,ZYXP1,ZZEF1
355154_L2.D712_1.clipped,0,0,20.4666,6.56674,0.0000,171.089,0.570306,0.022997,0,0,...,39.23120,1.499330,4.50453,9.13162,0.007177,0.236110,8.48650,149.3460,0,7.89609
355157_L2.D702_1.clipped,0,0,58.1464,9.67952,0.0000,369.830,1.978010,0.000000,0,0,...,36.30030,1.293410,4.86689,9.99290,0.055880,0.721078,5.81619,59.6206,0,5.39165
355158_L6_1.clipped,0,0,1416.6100,2.09020,12.3846,690.528,0.613971,0.000000,0,0,...,3.49428,0.122899,2.69243,3.76213,0.145304,0.000000,3.29284,50.7357,0,1.79329